build --copt=-iquote --copt=src
build --linkopt=-fPIC
build --linkopt=-Wl,-z,noexecstack
build --linkopt=-fstack-protector-all
build --linkopt=-Wl,-z,relro
build --linkopt=-Wl,-z,now
build --linkopt=-pie --linkopt=-fPIE
